body {
	 display: flex;
	 justify-content:center;
	 align-items: center;
	 flex-direction: column;
     height: 100vh;
}


#main-wrapper {
	        width:100%;
	        height:100vh;		
	        background:white;
	        display:flex; 
} 
	
#menu-div {
	flex:16%;
	background: black;
	padding:12px;
	color:white;
	position:relative;
}

#logo-div {
	     text-align:center;
	     border-bottom:1px solid white;
	     margin-bottom: 8%;
	     padding:8px;
}

#user-info-div {
	padding:8px;
	margin-bottom: 30%;
	font-family:Monotype Corsiva;
}

#menu-options-div li {
	color:white;
	font-size:12px;
	border-bottom:1px solid white;	
}

#menu-options-div li:hover {
	      font-size:13px;
}

#menu-options-div a {
	       text-decoration: none;
	       color:white;
}

#menu-options-div i {
	        padding-right:5px;
}

#content-div {
	flex:84%;
	background:white;
	padding:12px;
	position:relative;
	display:flex;
	flex-direction:column;
	background-color: black;
}

#content-head-div {
	       border:1px solid black;
	       height:16%;
	       width:100%;
	       border-radius: 20px 20px 0px 0px;
	       margin-bottom:10px;
	       background-color: white;
}

#content-head-div img {
	          margin-left:15px;
	          width:16%;
	          height:100%;
}

#content-page {
	           border:1px solid black;
	           height:84%;
	           width:100%;
	           background-color: white;
}

#content-page-div {
	           display: flex;
               justify-content: center;
}
